<div class="nested-fields">
  <h4 class="control-label">Category </h4>
  <%= f.select(:category_id, options_from_collection_for_select(Category.all, :id, :name), :prompt=>"Please select...") %>
  <h4 class="control-label">Participants for group </h4>
  <%= f.select(:participants_per_group, options_for_select(1..4),:prompt=>"Please select...")%>
  <%= link_to_remove_association "Remove", f %>
</div>